<% if resource.errors.any? %>
  <div class="error-message-box">
    <div id="error_explanation">
        <ul class="error_message_text">
          <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    </div>
  </div>
<% end %>

