<h1>Your Favorites</h1>
<p class="caption">ユーザー情報</p>
<%= @user.email %>
<%= link_to 'Edit', edit_user_path(current_user.id) %>

<p>お気に入り一覧</p>
<div class="faq">
    <%= render partial: 'users/like', locals: { user: @user} %>
</div>
