<div class="container">
	<h1> Your favorite Pick Up Lines! </h1>
	<p class="caption" >Our best funny and cheesy pick up lines for all your embarrassing needs! <br>Warning, please only use these pick up lines only if you are brave or stupid enough!
	</p>

	<div class="faq">
	    <%= render partial: 'users/like', locals: { user: @user} %>
	</div>
</div>

