<div class="main-about">
	<table>
		<tr>
			<th>ログイン中のユーザー</th>
			<th><%= @user.email %></th>
			<th><%= link_to "メールアドレスの変更はこちらへ", edit_user_path(current_user.id) %></th>
		</tr>
	</table>
</div>
<h1>Your Favorites</h1>

<div class="faq">
    <%= render partial: 'users/like', locals: { user: @user} %>
</div>

