<h1>Home#top</h1>
<p>Find me in app/views/home/top.html.erb</p>

<div class="sign_button sign_up_button">
	新規登録
</div>
<div class="sign_button sign_in_button">
	ログイン
</div>
<div class="sign_modal_wrapper"></div>
<div class="sign_modal">
  <span class="fa_wrapper"><%= fa_icon "times" %></span>
  <div class="sign_up_modal sign_modal_content">
    <h2>新規会員登録</h2>
    <form class="new_user" action ="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="0vopqXSAxej0lk4KKOWG+YUcG2s5X+btIeQBKegvkob1KNqBEYUcJjZXNJ9bYJDpL+8AncJ0uHNFA4luEVFTAg==">
      <div class="field">
        <label for="user_email">メールアドレス</label><br>
        <input autofocus="autofocus" autocomplete="email" type="email" value="" name="user[email]">
      </div>

      <div class="field">
        <label for="user_password">パスワード</label>
        <br>
        <em class="password_confirm">(6桁以上で設定してください)</em>
        <br>
        <input autocomplete="new-password" type="password" name="user[password]" aria-autocomplete="list">
      </div>

      <div class="field">
        <label for="user_password_confirmation">確認用パスワード</label><br>
        <input autocomplete="new-password" type="password" name="user[password_confirmation]">
      </div>

      <div class="actions">
        <input type="submit" name="commit" value="登録" data-disable-with="登録" class="btn btn-default">
      </div>
    </form>
  </div>
  <div class="sign_in_modal sign_modal_content">
    <h2>ログイン</h2>
    <form class="new_user" action ="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="oHLlAj0JDR0syLFJq8pvBZgP3Tf2VBOuOl5VCtX7PkCHoBYqWAzU0+4Jy9zYT3kVMvzGwQ1/TTBeud1NLIX/xA==">
      <div class="field">
        <label for="user_email">メールアドレス</label><br>
        <input autofocus="autofocus" autocomplete="email" type="email" value="" name="user[email]">
      </div>

      <div class="field">
        <label for="user_password">パスワード</label><br>
        <input autocomplete="current-password" type="password" name="user[password]">
      </div>

      <div class="field">
        <input name="user[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" name="user[remember_me]">
        <label for="user_remember_me">Remember me</label>
      </div>

      <div class="actions">
        <input type="submit" name="commit" value="ログイン" data-disable-with="ログイン" class="btn btn-default">
      </div>
    </form>
  </div>
</div>
