/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header{
  height: 51px;
  width: 100%;
  margin-bottom: 0;
  display: inline-block;
}

.actions{
  margin: 10px 0;
}

body{
  font-family: "Avenir Next", "Hiragino Sans", verdana, arial, helvetica, sans-serif;
}

.for-user{
  text-align: center;
}
/*ボタン*/
.btn-log{
  border-radius: 4px;
}

.btn-log:hover{
  border-radius: 4px;
  background-color: rgb(255, 163, 158);
  color: white;
  border: white;
}
/*ボタン*/

.radius{
  border-radius: 6px;
  width: 60%;
  height: 30px;
}

/*モーダル*/
.sign_button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid grey;
  padding: 5px;
  opacity: .6;
  transition: .3s;
  border-radius: 5px;

}

.sign_button:hover{
  border-radius: 4px;
  background-color: rgb(255, 163, 158);
  color: white;
}


.sign_up_button {
  margin-right: 30px;
}

.sign_modal_wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: .7;
  display: none;
}

.sign_modal {
  position: absolute;
  background-color: #fff;
  width: 450px;
  height: 370px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 100px auto 0;
  border: 1px solid #eee;
  display: none;
  text-align: right;
  border-radius: 25px;

}

.sign_modal_content {
  display: none;
  text-align: center;
}

.fa_wrapper {
  cursor: pointer;
  margin: 3px 3px 0 0;
}
/*モーダル*/

.navbar-toggle {
  border-color: white;
}

.nav{
  text-align: center;
}

.navbar{
  background-color: rgb(255, 163, 158);
  border-color: white;
}

.actions{
  text-align: center;
}

.header-layout{
  width: 65%;
}

.navbar-brand{
  font-size: 35px;
}

.navbar .navbar-brand {
  color: white;
}

.navbar-link{
  color: white;
}

.navbar-text{
  color: white;
}

li {
  list-style: none;
}

main{
  margin: 70px auto 0px auto;
  width: 60%;
}

.error-message-box{
  text-align: center;
}

.error_message_text{
  list-style: none ;
  color: red;
}

.flash-message-box{
  text-align: center;
  width: 100%;
  height: 51px;
  z-index: 5;
  position:absolute;
  padding: 0;
  margin: 0 auto;
}

h1{
  text-align: center;
}

.caption{
  text-align: center;
  padding: 30px;
}

.a {
  margin: 10px;
  font-size: 13px;
}

.b {
  font-weight: bold;
  margin: 10px;
  font-size: 13px;
}

.detail{
  float: right;
}

.likes_buttons_{
  float: left;
  margin-top: 4px;
}

.question{
  font-size: 20px;
}

.faq{
  padding: 30px;
  border: 1px solid #ccc;
}
/*faq wrapper*/
.faq-wrapper {
  background-color: #e6ecf0;
  text-align: center;
  padding-bottom: 80px;
  color: #5f5d60;
}

#faq-list {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

/*アコーディオン追加 */
.faq-list-item {
  margin:40px;
  border-bottom:1px solid #ccc;
  position:relative;
  cursor:pointer;
  text-align: left;
}

.faq-list-item span {
  position:absolute;
  top:0;
  right:5px;
  color:#ccc;
  font-size:13px;
}

.answer {
  font-size: 12px;
  display: none;
  padding: 5px 0px;
  margin-bottom: 15px;
}

.main-about{
  width:100%;
  margin: 0 auto;
  text-align: center;
}

table{
  width: 100%;
  border-collapse: collapse;
}

table tr{
  border-bottom: solid 2px white;
}

table tr:last-child{
  border-bottom: none;
}

table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #E8F0FE;
  color: #6495ed;
  text-align: center;
  padding: 10px 0;
}

.admin_error_messages{
  text-align: center;
  color: red;
}

@media screen and (max-width: 1024px){
  main{
  margin: 70px auto;
  width: 87%;
}
}

.home-top-first{
  height: 700px;
}

.service-explanation{
  height: 650px;
  text-align: center;
}

h2.service{
  display: inline-block;
  position: relative;
}
h2.service:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px; /*下線の上下位置調整*/
  display: inline-block;
  width: 50px; /*下線の幅*/
  height: 2px; /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%); /*位置調整*/
  background-color: #666666; /*下線の色*/
}

.about-explanation{
  height: 700px;
  text-align: center;
}

footer{
  height: 60px;
}

.copyright{
  text-align: center;
  color: grey;
}

