/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  display: inline-block;
}

.actions{
  text-align: center;
}
.header-layout{
  width: 65%;
}

.navbar-brand{
  font-size: 20px;
}


.alert{
  margin: 0 auto;
  text-align: center;
  z-index: 5;
  position: relative;
  width: 100%;
}

main{
  margin: 70px auto;
  width: 60%;
}

h1{
  text-align: center;
}

.caption{
  text-align: center;
  padding: 30px;
}

.a {
  margin: 10px;
  font-size: 13px;
}
.b {
  font-weight: bold;
  margin: 10px;
  font-size: 13px;
}

.detail{
  float: right;
}

.likes_buttons_{
  float: left;
  margin-top: 4px;
}

.question{
  font-size: 20px;
}
/*faq wrapper*/
.faq-wrapper {
  background-color: #e6ecf0;
  text-align: center;
  padding-bottom: 80px;
  color: #5f5d60;
}

#faq-list {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

/*アコーディオン追加 */
.faq-list-item {
  margin:40px;
  /*border-bottom:1px solid #ccc;*/
  position:relative;
  cursor:pointer;
  text-align: left;
}

.faq-list-item span {
  position:absolute;
  top:0;
  right:5px;
  color:#ccc;
  font-size:13px;
}

.answer {
  font-size: 12px;
  display: none;
  padding: 5px 0px;
  margin-bottom: 15px;
}

